{%extends "layouthome.html"%}
{% block content %}
<center>
  <img src="http://i.imgur.com/00UA6ju.png" style="width:50%;height:50%;">
</br>

<form action="/q" method="get">

   <div class="input-group input-lg" style="width:50%; min-width: 500px; max-width:700px;color:white;">
     <h2>Slant is a search engine that uses neural networks to check the bias of news articles on the internet.</h2>
  <input type="text" class="form-control input-lg" name="query">
  <div class="input-group-btn">
          <button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</center>
{% endblock %}
