{%extends "layout.html"%}
{% block %}

<form action="/q" method="get">
  <input type="text" class="form-control" name="query">
  <input type="submit" class="btn btn-success form-control"  value="Search">
</br>
  <div class="btn-group col-xs-12" data-toggle="buttons">
    <div class = "row">
      <div class = "col-xs-4">
    <label class="btn btn-danger btn-block">
      <input type="radio" name="conservative" id="option1" autocomplete="off"> Conservative
      </div>
    <div class = "col-xs-4">
    <label class="btn btn-default active btn-block">
      <input type="radio" name="neutral" id="option2" autocomplete="off" checked> Neutral
    </label>
    </div>
    <div class = "col-xs-4">
    <label class="btn btn-primary btn-block">
      <input type="radio" name="liberal" id="option3" autocomplete="off"> Liberal
    </label>
  </div>
  </div>
  </div>
</form>
{% endblock %}
