{%extends "layouthome.html"%}
{% block content %}
<center>
  <img href="{{url_for('static', filename='style.css')}}" style="width:50%;height:50%;">
</br>

    <img src="static/slantlogo.png" style = "width: 60%; height: 60%;"/>

<form action="/q" method="get">

   <div class="input-group input-lg" style="width:50%; min-width: 500px; max-width:700px; min-height: 100; max-height: 300">
  <input type="text" class="form-control input-lg" name="query">
  <div class="input-group-btn">
          <button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</center>
{% endblock %}
