{%extends "layout.html"%}
{% block content %}
          <div class = "row">
            <div class = "fill col-xs-12" style="height:300px">
              <img src="http://i.imgur.com/VY2Lskp.png">
              <div class="article-caption">
                pickle
              </div>
            </div>
          </div>

          {% for n in results[10:] %}
          <div class = "row">
            <div class = "panel panel-default">
              <div class = "panel-heading" style = "background-color: #0000FF">
                <h2><a href="http://buzzfeed.com"><div style = "color: #FFFFFF">REALLY DELUDED ARTICLE ABOUT HOW HILLARY IS PERFECT</div></a></h2>
              </div>
              <div class = "panel-body">
                HILLARY CLINTON IS AMAZING YAAAAAS QUEEEEEN {{n}}
              </div>
            </div>
          </div>
          {% endfor %}
{% endblock %}
