{%extends "layout.html"%}
{% block content %}
          <div class = "row">
            <div class = "fill col-xs-12" style="height:300px; background:url(http://i.imgur.com/VY2Lskp.png); background-size: cover; background-position: center center; position: relative;">
              <div class="article-caption" style="background-color: rgba(0,0,0,0.8); color: white;">
                <h2>(kancolle) kongou is mai waifu</h2></br>
                kongou is so smol and so nice nyaa
              </div>
              <div class="article-caption" style="background-color: #FF0000;">
              </div>
            </div>
          </div>

          {% for n in results[10:] %}
          <div class = "row">
            <div class = "panel panel-default">
              <div class = "panel-heading" style = "background-color: #0000FF">
                <h2><a href="http://buzzfeed.com"><div style = "color: #FFFFFF">REALLY DELUDED ARTICLE ABOUT HOW HILLARY IS PERFECT</div></a></h2>
              </div>
              <div class = "panel-body">
                HILLARY CLINTON IS AMAZING YAAAAAS QUEEEEEN {{n}}
              </div>
            </div>
          </div>
          {% endfor %}
{% endblock %}
